{% extends "base.html" %} {% block content %}
<h2>Edit post</h2>

<form method="post" autocomplete="off">
    <div class="form-group">
        <label>subject</label>
        <input type="text" class="form-control" placeholder="subject" name="subject" value="{{p.subject}}" autofocus>
    </div>
    <div class="form-group">
        <label>post content</label>
        <textarea name="content" class="form-control" placeholder="blog content" rows="5">{{content}}</textarea>
    </div>
    <div class="error">{{error}}</div>
    <a href="/{{p.key().id()}}">
        <button class="btn btn-info">back</button>
    </a>
    <input type="submit" class="btn btn-info" value="Submit">
</form>
{% endblock %}